client_bo/node_modules/
api/.idea/
api/target/
client_bo/bower_components/
api/api.iml
api/mvnw
api/mvnw.cmd
target/
.idea/
api.iml
src/main/resources/public/bo/bower_components/bootstrap-social/.bower.json
src/main/resources/public/bo/bower_components/bootstrap-social/.editorconfig
src/main/resources/public/bo/bower_components/
src/main/resources/public/bo/node_modules/
src/main/resources/public/bo/typings/
src/main/resources/public/bo/npm-debug.log.*
src/main/resources/public/bo/npm-debug.log
src/main/resources/public/bo/.vscode/settings.json
