

<div class="modal-header">
    <h4 class="modal-title"><span class="glyphicon glyphicon-star"></span> Nova Especialidade</h4>
</div>
<div class="modal-body">
    <ng-form name="specialityForm" ng-submit="save()" novalidate/>
        <div class="form-group">
            <label>Insira o nome:</label>
            <input type="text" ng-model="name" name="name" class="form-control" ng-minlength="3" ng-maxlength="30" required/>
        </div>

    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()">Cancelar</button>
    <button type="button" class="btn btn-primary" ng-click="save()" 
            ng-disabled="(specialityForm.$dirty && specialityForm.$invalid) || specialityForm.$pristine">Criar</button>
</div>