<br>
<div class="panel panel-default">
<div class="panel-heading">Utilizadores</div>
    <table class="table">
        <thead>
            <tr>
                <th>Username</th>
                <th>Nome</th>
                <th>Email</th>
                <th>Editar</th>
                <th>Apagar</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="user in users">
                <td>
                    {{user.username}}
                </td>
                <td>
                    {{user.prettyName}}
                </td>
                <td>
                    {{user.email}}
                </td>
                <td>
                    <a class="fa fa-pencil" ng-click="editUser(user)"></a>
                </td>
                <td>
                    <a class="fa fa-trash-o" ng-click="deleteUser(user)"></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
