 <div id="wrapper">
    <div ng-include src="'views/menu_head.html'">
    </div>
    <div id="page-wrapper" >
        
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">{{ mode == 'new' ? "Novo Artigo" : "Editar Artigo" }}</h1>
            </div>
        </div>

        <form role="form" name="articleForm" ng-submit="saveOrUpdate()" novalidate/>


            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">

                                        <div class="col-lg-6">

                                            <div class="form-group">
                                                <label>Selecione o tipo de artigo pretendido</label>
                                                <select 
                                                    name="articleTypes"
                                                    class="form-control" 
                                                    ng-model="article.articleType"
                                                    ng-change="onArticleTypeChanged"
                                                    ng-options="at.humanReadableType for at in articleTypes track by at.id"
                                                    required>
                                                    <option value=""></option>
                                                </select>
                                                <p ng-show="articleForm.articleTypes.$invalid && !articleForm.articleTypes.$pristine" 
                                                class="help-block">Escolha um tipo de artigo</p>
                                            </div>
                                        </div>
                                        

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div ng-if="article.articleType">

                <!-- 1st Section -->
                <!-- Name and Doctor -->

                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-12">

                                            
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="row">
                                                            <div class="col-lg-12">
                                                                
                                                                <div class="form-group">
                                                                    <label>Título</label>
                                                                    <input type="text" name="title" ng-model="article.title" class="form-control" ng-minlength="3" ng-maxlength="30" required/>
                                                                </div>
                                                                
                                                                <div class="form-group">
                                                                    <label>Médico</label>
                                                                    <select 
                                                                        name="doctor"
                                                                        class="form-control" 
                                                                        ng-model="article.doctor"
                                                                        ng-change="onDoctorChanged"
                                                                        ng-options="doc.name for doc in doctors track by doc.id"
                                                                        required>
                                                                        <option value=""></option>
                                                                    </select>
                                                                    <p ng-show="articleForm.doctor.$invalid && !articleForm.doctor.$pristine" 
                                                                    class="help-block">Escolha um médico</p>
                                                                </div>

                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 2nd Section -->
                <!-- Speciality and SubSpeciality -->

                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-12">

                                            
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="row">
                                                            <div class="col-lg-12">
                                                                
                                                                <div class="form-group">
                                                                    <label>Especialidade</label>
                                                                    <select 
                                                                        name="specialty"
                                                                        class="form-control" 
                                                                        ng-model="article.specialty"
                                                                        ng-change="onSpecialityChanged()"
                                                                        ng-options="sp.specialty for sp in specialties track by sp.id"
                                                                        required>
                                                                        <option value=""></option>
                                                                    </select>
                                                                    <p ng-show="articleForm.specialty.$invalid && !articleForm.specialty.$pristine" 
                                                                    class="help-block">Escolha uma especialidade</p>
                                                                </div>
                                                                
                                                                <div class="form-group">
                                                                    <label>Sub-Especialidade</label>
                                                                    <select 
                                                                        name="subSpecialty"
                                                                        class="form-control" 
                                                                        ng-model="article.subSpecialty"
                                                                        ng-options="subSp.subSpecialty for subSp in subSpecialties track by subSp.id">
                                                                        <option value=""></option>
                                                                    </select>
                                                                    <p ng-show="articleForm.subSpecialty.$invalid && !articleForm.subSpecialty.$pristine" 
                                                                    class="help-block">Escolha uma opção</p>
                                                                </div>

                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>



        </div>

    </form>        

</div>